<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleslogin.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="login-div">
        <div class="logo">
            <!-- Add your logo or image here -->
            <img src="{{ url_for('static', filename='logoicon.png') }}" alt="Logo">
        </div>
        <div class="title">Login</div>
        <div class="fields">
            <form action="/login" method="POST"> <!-- Define the action attribute for your login route -->
                <div class="username">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
                            d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                    </svg>
                    <input type="text" class="user-input" name="username" placeholder="Username" required>
                </div>
                <div class="password">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
                            d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                    </svg>
                    <input type="password" class="pass-input" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="signin-button">Login</button>
            </form>
        </div>
        <div class="link">
            <a href="#">Forgot password?</a> or <a href="#">Sign Up</a>
        </div>
    </div>
</body>
</html>
