<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">

</head>
<body>
    <header>
        <img src="static/Logo.png" alt="Letterhead Logo" width="200">
        <a href="/logout">Sign Out</a>
    </header>
    <main>
        <h1>Demerit System</h1>
        <div class="nav-block green">
            <a href="/green">Green Page</a>
        </div>
        <div class="nav-block yellow">
            <a href="/yellow">Yellow Page</a>
        </div>
        <div class="nav-block pink">
            <a href="/pink">Pink Page</a>
        </div>
        <div class="nav-block">
            <a href="/csv_files">CSV Files Page</a>
        </div>
        <div class="nav-block">
            <a href="/admin">Admin Page</a>
        </div>
    </main>
</body>
<script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js')
        .then((registration) => {
          console.log('Service Worker registered with scope:', registration.scope);
        })
        .catch((error) => {
          console.error('Service Worker registration failed:', error);
        });
    }
</script>
</html>
